.table {
  font-family: var(--sst-font-family);
  font-size: var(--sst-font-size);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  user-select: none;
}

.wrapper {
  position: relative;
  border: 1px solid var(--sst-border-color);
  border-radius: 4px;
  user-select: none;
}

.wrapper:focus {
  outline: none;
}
